@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;600&family=Cormorant+Unicase:wght@700&display=swap');
html, body {
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
}
/* Navigation*/
.left-nav, .right-nav {
    position: fixed;
    width: 10vw;
    height: 100vh;
    background-color: var(--black-one);
    padding: 50px;
    justify-content: space-between;
    pointer-events: auto;
}
/* Specific for left and right navs */
.left-nav {
    left: 0; 
}
.left-nav li {
    margin-bottom: 25px;
}
.right-nav {
    right: 0; 
    z-index: 13;
}
.right-nav ul {
    margin-top: 40px;
}
.right-nav a {
    display: inline-block;
    font-family: var(--primary-font);
    font-size: 1.2em;
    font-weight: 700;
    color: var(--blue);
    text-decoration: none;
}
.right-nav a:hover {
    transform: scale(1.2);
}
/* Center content area */
.content {
    flex-grow: 1;
    margin-left: 200px; 
    margin-right: 200px; 
    padding: 40px;
    background-color: var(--black-one);
    color: white;
    overflow-y: auto; 
    box-sizing: border-box;
    z-index: 12;
}
.bottom-items {
    position: absolute;
    bottom: 100px; /* Distance from the bottom of the container */
}
.svg-link {
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
}
.svg-link:hover {
    transform: scale(1.2);
}
.pbutton {
    background-color: white;
    padding: 8px 10px;
    margin-right: 6px;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--secondary-font);
    transition: transform 0.3s ease;
    border-radius: 14px;
}
.pbutton:hover {
    transform: scale(1.1); 
}
.sticky-partition {
    position: relative;
    height: 400vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.project-container {
    position: sticky;
    height: 100vh;
    top: 180px;
    margin-bottom: 200px;
    background-color: var(--black-one);
    z-index: 10; 
    transition: opacity 0.5s ease-out; 
}

/* Text */
.content section h2 {
    font-family: var(--secondary-font);
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}
.content section h3 {
    font-family: var(--primary-font);
    font-size: 4em;
    font-weight: 700;
    color: var(--blue);
    margin-top: 0;
}
.style1 {
    font-family: var(--primary-font);
    font-size: 5rem;
    max-width: 80vw;
    margin-top: 0;
    color: var(--blue);
}
.style2 {
    font-family: var(--primary-font);
    color: rgb(66, 62, 62);
    font-size: 2rem;
    margin-top:2rem;
    width: 60vw;
    font-weight: 400;
}

#about1 {
    scroll-margin-top: 350px;
}

/* Keyframe for the animation */
@keyframes slideUp {
    0% {
        transform: translateY(100px); /* Start 100px below the final position */
        opacity: 0; /* Start with invisible text */
    }
    100% {
        transform: translateY(0); /* End at the natural position */
        opacity: 1; /* Fully visible text */
    }
}

/* Apply animation to the h2 (name) */
.content section h2.name {
    font-family: var(--primary-font);
    font-size: 9em;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 0;
    
    /* Add animation */
    animation: slideUp 1s ease-out forwards; /* 1 second duration */
}

/* Apply animation to the h3 (job title) */
.content section h3.jobTitle {
    font-family: var(--secondary-font);
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 550px;

    /* Add animation with delay for staggered effect */
    animation: slideUp 1s ease-out forwards;
}

.home-icon {
    display: inline-block;
    height:100px;
    width: 100px;
    z-index: 15;
}
.home-icon:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.project-title {
    margin-bottom: 0;
}
.tech-stack {
    margin-top: 0;
    font-size: 1.2em;
    color:rgba(0, 0, 0, 0.541);
}
.passionsScroll {
    width: 90rem;
    font-family: var(--primary-font);
    font-size: 8rem;
    color: var(--blue);
    overflow: hidden;
    white-space: nowrap;
}
.aboutThreeLineOne,
.aboutThreeLineTwo,
.aboutThreeLineThree,
.aboutThreeLineFour {
    transition: transform 0.1s ease-out;
    display: block;
    white-space: nowrap; /* Prevent line wrapping */
}
#about2 {
    margin-bottom: 500px;
}
#passions {
    margin-bottom: 500px;
}
#end-message {
    font-size: 4rem;
}
/* General styling */
#contact-section {
    text-align: left;
    padding: 40px;
    background-color: #101010; /* Dark background */
}

#contact-section h2 {
    font-size: 5rem;
    color: #2a87c9; /* Blue color */
    margin-bottom: 10px;
}

.subtext {
    font-size: 1rem;
    color: #ffffff; /* Lighter grey */
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/* Contact links */
.contact-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-btn {
    font-size: 2rem;
    color: var(--blue); /* Blue color for text */
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    background-color: transparent;
    border-radius: 50px;
    width: 30vw;
    transition: background-color 0.3s, color 0.3s;
}
.contact-btn:hover {
    background-color: var(--blue); /* Blue background on hover */
    color: #fff; /* White text on hover */
}