body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #8ddfff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 350px;
}

.vertical-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-nav ul li {
    margin: 10px 0;
}

.vertical-nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.vertical-nav ul li a:hover , 
.vertical-nav a.active {
    background: #ffffff;
    color: #000000;
}