<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Portfolio</title>
    <link rel="stylesheet" href="/static/globals.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/fade.css">
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="circle-cursor" id="circleCursor"></div>
    <div class="container">
        <nav class="left-nav">
            <ul>
                <li><a href="/templates/index.html">
                    <img src="/static/icons/bird2.svg" class="home-icon" alt="Home Icon">
                </a></li>
            </ul>
            <ul class="bottom-items">
                <li><a href="https://github.com/al6894" target="_blank">
                    <img src="/static/icons/github.svg" class="svg-link" alt="Github Icon">
                </a></li>
                <li><a href="https://www.linkedin.com/in/andy-lee-nyu/" target="_blank">
                    <img src="/static/icons/linkedin.svg" class="svg-link" alt="LinkedIn Icon">
                </a></li>
                <li><a href="/static/pdf/Andy_Lee_Resume.pdf" target="_blank">
                    <img src="/static/icons/resume.svg" class="svg-link" alt="Resume Icon">
                </a></li>
            </ul>
        </nav>

        <main class="content">
            <section id="about1">
                <h2 class="name">ANDY</h2>
                <h3 class="jobTitle">Software Engineer</h3>
            </section>
            <section id="about2">
                <h2>about me</h2>
                <p class="style1">I am a student attending New York University's school of engineering. 
                    I am looking for growth opportunities to gain knowledge and experience in software development.
                </p>
            </section>

            <section id="passions">
                <h2>Passions</h2>
                <div class="passionsScroll">
                    <div class="aboutThreeLineOne">BASKETBALL. DOGS. AI/ML.</div>
                    <div class="aboutThreeLineTwo">NEW MUSIC. GARDENING.</div>
                    <div class="aboutThreeLineThree">GYM. VIDEO GAMES. UI/UX.</div>
                  </div>
            </section>
            
            <section id="projects">
                <h2 id="projects">Projects</h2>
                <section class="sticky-partition">
                    <div class="project-container">
                        <h3 class="project-title">FlightHub</h3>
                        <p class="tech-stack">Python / HTML / CSS / Javascript / SQL / XAMPP</p>
                        <button class="pbutton" onclick="window.open('https://github.com/al6894/FlightHub', '_blank')">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2"> More info about FlightHub...</p>
                    </div>

                    <div class="project-container">
                        <h3 class="project-title">TuneTalk</h3>
                        <p class="tech-stack">Swift / Storyboard</p>
                        <button class="pbutton" onclick="window.open('https://github.com/al6894/TuneTalk', '_blank')">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about TuneTalk...</p>
                    </div>


                    <div class="project-container">
                        <h3 class="project-title">Qommute</h3>
                        <p class="tech-stack">Python / Qiskit / PyTorch</p>
                        <button class="pbutton" onclick="window.open('https://github.com/al6894/Qommute', '_blank')">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about Qommute...</p>
                    </div>

                    <div class="project-container">
                        <h3 class="project-title">Credit Risk</h3>
                        <p class="tech-stack">Python / numpy / pandas / scikit-learn</p>
                        <button class="pbutton" onclick="window.open('https://github.com/al6894/CreditRisk', '_blank')">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about CreditRisk...</p>
                    </div>

                    <div class="project-container">
                        <h3 class="project-title">Portfolio</h3>
                        <p class="tech-stack">HTML / CSS / Javascript / Photoshop</p>
                        <button class="pbutton" onclick="window.open('https://github.com/al6894/portfolio_website', '_blank')">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about Porfolio...</p>
                    </div>
                </section>
            </section>

            <section id="contact">
                <h2>Reach out to me!</h2>
            </section>
        </main>

        <nav class="right-nav">
            <ul>
                <li><a href="#about1">ABOUT</a></li>
                <li><a href="#projects">PROJECTS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
    </div> 
    <script src="/static/cursor.js"></script>
    <script src="/static/home.js"></script>
</body>
</html>