<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Portfolio</title>
    <link rel="stylesheet" href="/static/globals.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/fade.css">
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="left-nav">
            <ul class="bottom-items">
                <li><a href="https://github.com/al6894" class="svg-link" target="_blank">
                    <img src="/static/icons/github.svg" alt="Github Icon">
                </a></li>
                <li><a href="https://www.linkedin.com/in/andy-lee-nyu/" class="svg-link" target="_blank">
                    <img src="/static/icons/linkedin.svg" alt="LinkedIn Icon">
                </a></li>
                <li><a href="/static/pdf/Andy_Lee_Resume.pdf" class="svg-link" target="_blank">
                    <img src="/static/icons/resume.svg" alt="Resume Icon">
                </a></li>
            </ul>
        </nav>

        <main class="content">
            <section id="about">
                <h2>about me</h2>
                <p class="style1">I am a student attending New York University's school of engineering. 
                    I am looking for growth opportunities to gain knowledge and experience in software development.
                </p>
            </section>

            <section id="passions">
                <h2>Passions</h2>
            </section>
            
            <section id="projects">
                <h2 id="projects">Projects</h2>
                <section class="sticky-partition">
                    <div class="project-container">
                        <h3>FlightHub</h3>
                        <button class="pbutton">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2"> More info about FlightHub...</p>
                    </div>

                    <div class="project-container">
                        <h3>TuneTalk</h3>
                        <button class="pbutton">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about TuneTalk...</p>
                    </div>


                    <div class="project-container">
                        <h3>Qommute</h3>
                        <button class="pbutton">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about Qommute...</p>
                    </div>

                    <div class="project-container">
                        <h3>Credit Risk</h3>
                        <button class="pbutton">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about CreditRisk...</p>
                    </div>

                    <div class="project-container">
                        <h3>Portfolio</h3>
                        <button class="pbutton">Github</button>
                        <button class="pbutton">Documentation</button>
                        <button class="pbutton">Schema</button>
                        <p class="style2">More info about Porfolio...</p>
                    </div>
                </section>
            </section>

            <section id="contact">
                <h2>Reach out to me!</h2>
            </section>
        </main>

        <nav class="right-nav">
            <ul>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#projects">PROJECTS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
    </div> 
</body>
</html>