<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Portfolio</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <nav><a href="home.html" class="begin-journey">MEET ANDY</a></nav>
        <!-- <div class="left_trees">
            <img src="/images/tree1.png" id="tree1">
            <img src="/images/tree2c.png" id="tree2">
            <img src="/images/bush4.png" id="bush4">
        </div>
        <div class="right_trees">
            <img src="/images/tree1b.png" id="tree1b">
            <img src="/images/tree2b.png" id="tree2b">
            <img src="/images/bush4.png" id="bush4b">
        </div> -->
    </div>
    <!-- <img src="/images/grass2.png" id="grass"> -->
    <img src="/images/mountain.png" id="mountain">
    <script src="/static/script.js"></script>
</body>
</html>