<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Portfolio</title>
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/fade.css">
</head>
<body>
    <div class="circle-cursor" id="circleCursor"></div>
    <div class="container">
        <nav><a href="home.html" class="begin-journey">MEET ANDY</a></nav>
    </div>
    <img src="/static/images/mountain.png" id="mountain">
    <img src="/static/images/left_trees.png" id="left_trees">
    <img src="/static/images/right_trees.png" id="right_trees">

    <script src="/static/js/index.js"></script>
    <script src="/static/js/cursor.js"></script>
</body>
</html>